@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "ManuscribeFree";
}
body {
  margin: 0;
  font-family: "ManuscribeFree";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font {
  font-family: "ManuscribeFree";
  letter-spacing: 10px;
}

code {
}
